@use '../abstracts/' as *;

body {
	font-size: var(--fs-body);
	font-family: var(--ff-body);
	color: var(--clr-primary-400);
}

.container {
	--max-width: 1110px;
	--padding: 2rem;

	width: min(var(--max-width), 100% - (var(--padding) * 2));
	margin-inline: auto;
}

.vertical-align-center {
	align-items: center;
}

.justify-self-end {
	justify-self: end;
}

@media (min-width: 50em) {
	.justify-self-end-md {
		justify-self: end;
	}
}

.even-columns {
	display: grid;
	gap: 1rem;

	@media (min-width: 50em) {
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
	}
}

// .flow :not(:first-child)
.flow * + * {
	margin-top: var(--flow-spacer, 4em);
}

.padding-block-900 {
	padding-block: var(--size-900);
}

.padding-block-700 {
	padding-block: var(--size-700);
}
